* {
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

/* -----------------    Header / Barre de navigation    --------------- */

header {
    display: flex;
    flex-direction: row;
    background-color: #112846;
}

header img /* logo */ {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 15px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

header li {
    color: #FFFFFF;
    font-weight: bold;
    
}

/* ---------------    Main    --------------- */

main {
    background-color: #DDDBCB;
}

main img {
    width: 94%;
    height: 65vh;
    padding-left: 3%;
    padding-right: 3%;
}

h1 {
    text-align: center;
    color: #0094AA;
    font-size: 30px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main div {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
}

/* ---------------    footer    --------------- */

footer section {
    display: flex;
    justify-content: flex-end;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #0094AA;
}

footer img {
    width: 30px;
    height: 30px;
    padding: 5px;
}