* {
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    outline: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* -----------------    Header / Barre de navigation    --------------- */

header {
    display: flex;
    flex-direction: row;
    background-color: #112846;
}

header img /* logo */ {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 15px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

header li {
    color: #FFFFFF;
    font-weight: bold;   
}

header a:hover {
    color:#0094AA;
}

/* ---------------    main    ---------------*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position:relative;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
/* Images invisibles par défault */
.Containers {
    display: none;
}
  
/* Description de l'image */
.Info {
    color: #931621;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 14px;
    position: absolute;
    width: 100%;
    text-align: center;
}

main {
    background-color: #DDDBCB;
}

main img {
    width: 100%;
    height: 65vh;
}

h1, h2 {
    text-align: center;
    color: #0094AA;
    font-size: 30px;
    font-weight: bold;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h3 {
    text-align: center;
    color:#931621;
    font-size: 30px;
    font-weight: bold;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main div {
    width: 100%;
    font-size: 20px;
}

.welcome {
    padding-left: 3%;
    padding-right: 3%;
}

/* ---- spécificités page découvrir ---- */
.decou1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.decou1 img {
    border-radius: 15px;
    width: 50%;
    height: fit-content;
}

.decou1 .soustitre {
    color: #931621;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.decou1 .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

/* ---- spécificités page que faire ---- */
.quefaire1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.quefaire1 img {
    border-radius: 15px;
    width: 30%;
    height: fit-content;
}

.quefaire1 .soustitre {
    color: #931621;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.quefaire1 .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.quefaire1:hover {
    border-radius: 15px;
    background-color: #FFFFFF;
}

.quefaire1 a {
    color: #931621;
}

/* ---- spécificités page détails sites remarquables ---- */

.detail1 .soustitre2 {
    color: #ca2e55;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.detail1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.detail1 img,
.detailphoto img {
    border-radius: 15px;
    width: 35%;
    height: fit-content;
}

.detail1 .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.detailphoto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* ---------------    footer    --------------- */

footer {
    background-color: #0094AA;
    margin: 0;
}

footer section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #0094AA;
}

footer img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

footer div {
    padding-top: 5px;
    text-align: left;
    color: #FFFFFF;
}