* {
    margin: 0;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

/* -----------------    Header / Barre de navigation    --------------- */

header {
    display: flex;
    flex-direction: row;
    background-color: #112846;
}

header img /* logo */ {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 15px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

header li {
    color: #FFFFFF;
    font-weight: bold;
    
}
/* ---------------    main    ---------------*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    position:relative;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
/* Make the images invisible by default */
.Containers {
    display: none;
}
  
/* forward & Back buttons */
.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}
   
/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
/* Caption Info */
.Info {
    color: #931621;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 14px;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
  
/* Worknumbering (1/3 etc) */
.MessageInfo {
    color: #FFFFFF;
    font-size: 14px;
    position: absolute;
    padding-left: 4%;
    top: 0;
}
  
/* The circles or bullets and indicators */

.menudots {
    text-align: center;
}

.dots {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background-color:#0094AA;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
  
.enable, .dots:hover {
    background-color: #112846;
}
  
/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}
  
@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}
  
@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

main {
    background-color: #DDDBCB;
}

main img {
    width: 100%;
    height: 65vh;
    padding-left: 3%;
    padding-right: 3%;
}

h1 {
    text-align: center;
    color: #0094AA;
    font-size: 30px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main div {
    width: 100%;
}

/* ---------------    footer    --------------- */

footer {
    background-color: #0094AA;
    margin: 0;
}

footer section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #0094AA;
}

footer img {
    width: 30px;
    height: 30px;
    padding: 5px;
}